.bg-light.bla_nav{
  /* background: #E5E5E5 !important; */
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(50px) !important;
}
.bla_nav .navbar-brand{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
}
.bla_nav .nav-link {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000 !important;
}
/* .bla_nav .nav-item{
    margin-right: 50px;
} */
.navbar-toggler-icon{
    background-image: url(../images/burger.png) !important;
}
.navbar-light .navbar-toggler {
    border: none;
}
.footer_bg{
    background: #111111;
    color: #FFFFFF;
    /* height: 396px; */
    padding-bottom: 10px;
}
.footer_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 137px;
    text-align: center;
    padding-top: 80px;
}
.footer_mail{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
}
.footer_made_with{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    text-align: right;
}
.logo_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
}
.menu_font{
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding-top: 25px !important;
}
.footer_mail a{
    color: #fff;
}

