/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

/* 
---------------------
*/
.bg-light.bla_nav{
    background: #E5E5E5 !important;
}
.bla_nav .navbar-brand{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
}
.bla_nav .nav-link {
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000 !important;
}
/* .bla_nav .nav-item{
    margin-right: 50px;
} */
.navbar-toggler-icon{
    background-image: url(../images/burger.png) !important;
}
.navbar-light .navbar-toggler {
    border: none;
}
.footer_bg{
    background: #111111;
    color: #FFFFFF;
    /* height: 396px; */
    padding-bottom: 10px;
}
.footer_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 137px;
    text-align: center;
    padding-top: 80px;
}
.footer_mail{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
}
.footer_made_with{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
    text-align: right;
}
.logo_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
}
.menu_font{
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding-top: 25px !important;
}
.footer_mail a{
    color: #fff;
}

