@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/Avenir/Avenir_Regular.ttf) format('woff');
}
@font-face {
    font-family: 'AaronsHand';
    src: local('AaronsHand'), url(./fonts/AaronHand.ttf) format('woff');
}
.text-center{
    text-align: center;
}
body, .ant-menu{
    background: #FFF;
}
.ant-menu-horizontal {
    border-bottom: none;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.banner_section p{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    margin-top: 55px;
}
.bg{
    background: #fff;
    /* background: #E5E5E5; */
}
.second_third_row{
    padding: 0pc 26px 0px 36px;
}
.second_row{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
    margin-top: 55px;
}
.third_row{
    background: #F4EB0A;
    margin-bottom: 36px;
}
.third_row p{
    font-family: AaronsHand;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
    padding: 110px 0px 50px 0px;
    color: #000000;
}
.fourth_row{
    background: #fff;
    transition-duration: 0.3s;
}
.fourth_title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 68px;
    color: #111;
    padding-top: 50px;
}
.fourth_left{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color: #111;
    padding: 80px 0px 0px 50px;
}
.strategy_heading{
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #E43737;
}
.strategy_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #111;
}
.fifth_row{
    background: #fff;
    /* background: #FFF; */
    padding: 50px 27px 100px 36px;
    transition-duration: 0.3s;
}
.bg-black{
    background: #111111;
    transition-duration: 0.3s;
}
.fifth_title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
    margin-top: 55px;
}
.tests{
    background: -webkit-linear-gradient(red, yellow, orange, green, blue, purple);
}
.bg-black .fifth_title{
    color: #FFFFFF;
}
.fifth_images{
    height: 450px;
    background-size: cover;
    background-position: center;
}
.fifth_one{
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png);
        background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png); /* FF3.6+ */
        background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png); /* IE10+ */
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/1.png);  
}
.fifth_two{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%) url(./images/2.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/2.png); 
}
.fifth_three{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/3.png); 
}
.fifth_four{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/4.png); 
}
.fifth_five{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/5.png); 
}
.fifth_six{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/6.png); 
}
.fifth_seven{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/12.png); 
}
.fifth_seven1{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/8.png); 
}
.fifth_eight{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); 
}
.fifth_nine{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/9.png); 
}
.fifth_ten{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/10.png); 
}
.fifth_eleven{
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png);
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png);
    background-image: -moz-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); /* FF3.6+ */
    background-image: -webkit-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); /* IE10+ */
    background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 46.68%), url(./images/11.png); 
}

.fifth_images h3{
    padding: 60px 0px 0px 120px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.fifth_images h2{
    padding: 180px 0px 0px 120px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 82px;
    color: #FFFFFF;
}
.sixth_row{
    background: #FFF;
    padding: 50px 27px 100px 36px;
}
.sixth_row h3{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 25px;
    padding-top: 20px;
}
.sixth_title{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 50px !important;
    line-height: 68px;
    margin-bottom: 50px;
}
.sixth_row h4{
    font-family: Avenir;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}
.mt-0{
    margin-top:0px;
}
img{
    width:100%;
}
.second_third_row{
    background: #fff;
    transition-duration: 0.3s;
}
.fourth_row.bg_dark, .second_third_row.bg_dark, .fifth_row.bg_dark {
    background: #111111;
}
.fourth_row.bg_dark .fourth_title, .fourth_row.bg_dark .fourth_left, .fourth_row.bg_dark, .second_third_row.bg_dark, .fourth_row.bg_dark .strategy_text, .fifth_row.bg_dark .fifth_title{
    color: #fff;
}
.fourth_row.bg_dark .strategy_heading{
    color: #F4EB0A;
}
.yellow_bg{
    background: url(./images/Rectangle.svg);
    font-family: AaronsHand;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 50px;
    width: 100%;
    height: 205px;
    text-align: center;
    padding: 63px 3%;

}
.linkedInImg{
    width: 28px;
    height: 28px;
}

@media only screen and (max-width:768px){
    .fixed-top {
        position: inherit;
    }
    .ant-layout-content br
    {display: none;}
    h1{
        font-size: 20px !important;
    }
    h2{
        font-size: 24px !important;
    }
    .second_third_row,
    .fourth_row,
    .fifth_row,
    .sixth_row,
    .ant-layout-footer
    {
        padding: 0px 15px !important;
    }

    .sixth_row,
    .ant-layout-footer
    {padding-top: 25px !important;padding-bottom: 25px !important;}

    .fourth_row
    {padding-top: 10px !important;}
    .fourth_row .ant-row
    {padding-bottom: 60px !important;}

    .footer_text
    {padding-top: 10px;}

    .fifth_images
    {height: 330px;}
    .fifth_images h3 {
        padding: 25px 0px 0px 15px !important;
    }
    .fifth_images h2 {
        padding: 180px 0px 0px 15px;
        font-weight: revert;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
    }
    .fourth_title {
        font-size: 23px;
    }
    .fourth_left {
        font-size: 24px;
    }
    .fifth_title {
        font-size: 28px;
        margin-top: 20px;
    }
    .sixth_row h3 {
        font-size: 32px !important;
        font-weight: 500;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .strategy_text {
        font-size: 19px;
        line-height: 27px;}

    .mt-m-40{
        margin-top: 40px;
    }
    .footer_bg
    {margin-top: 30px;}
    .footer_text {
        font-size: 50px;
        line-height: 53px;
        text-align: left;
    }
    .footer_mail {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 90px;
    }
    .footer_made_with {
        font-size: 20px;
        line-height: 55px;
        text-align: center;
        max-width: 90%;
        display: block;
        margin: auto;
    }
    .banner_section p {
       font-size: 24px;
        line-height: 32.78PX;
    }
    .second_row {
        font-size: 28px;
        line-height: 28PX;
        text-align: left;
        margin-top: 10px;
    }
    .third_row p {
        font-size: 50px;
        line-height: 42px;
    }
    .fourth_left {
        line-height: 32px;
        padding: 10px 0px 42px 0px;
    }
    
    .navbar-toggler-icon{
        width: 2.5em;
        height: 2.5em;
    }
    .fifth_seven1{
        background-position: -140px;
    }
    .responsite-paragraph{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .responsive-block{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}